


.chat-container {
  display: flex;
  height: 100vh;
  background-color: #fafafa;
  margin-left: 260px;
}

.contact-list {
  width: 300px;
  border-right: 1px solid #343333;
  overflow-y: auto;
}

.contact-list h2 {
  padding: 16px;
  font-size: 18px;
  /* border-bottom: 1px solid #3b3a3a; */
}

.contact {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid #353434;
}

.contact img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
}

.contact span {
  font-size: 16px;
}

.contact.selected {
  background-color: #151515;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #353333;
}

.chat-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.chat-header span {
  font-size: 18px;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.chat-message {
  margin-bottom: 12px;
  display: flex;
  align-items: flex-end;
}

.chat-message.sent {
  justify-content: flex-end;
}

.chat-message.received {
  justify-content: flex-start;
}

.chat-message p {
  padding: 10px;
  border-radius: 15px;
  max-width: 60%;
}

.chat-message.sent p {
  background-color: #007bff;
  color: #fff;
}

.chat-message.received p {
  background-color: #e5e5ea;
  color: #000;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #dbdbdb;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  margin-right: 10px;
}

.chat-input button {
  padding: 10px 15px;
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.chat-input button:hover {
  background-color: #0056b3;
}
